@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans:
    YekanBakh, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans Arabic", "Noto Sans", sans-serif, grok;

  --font-serif: "Instrument Serif", serif;
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

.text-h1 {
  @apply text-xl font-bold md:text-2xl lg:text-3xl;
}

.text-h2 {
  @apply text-xl font-bold md:text-2xl;
}
.text-h3 {
  @apply text-lg font-bold md:text-xl lg:text-2xl;
}
.text-h4 {
  @apply text-sm md:text-lg lg:text-xl;
}
